a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: skyblue;
    text-decoration: underline;
}

nav {
    background-color: #00026d;
}

.navbar-brand,
.song-title,
.card-title,
th,
.lead,
.list-group-item,
.artist-name,
.kind-title {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    font-style: italic;
}

.navbar-brand {
    font-weight: 900;
    font-size: 32px;
}

.song-title,
.card-title {
    font-weight: 700;
}

.card-title, td a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.song-title {
    font-size: 2vw;
}

.card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.page_display li {
    width: 36px;
    text-align: center;
}

.list-group-item {
    font-size: 20px;
}