{% extends 'musicbox/base.html' %}

{% block title %}
Artist List
{% endblock %}

{% block content %}
<div class="col-6">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="thead-light" style="">
                <th>이름</th>
                <th>노래</th>
            </tr>
        </thead>
        <tbody>
            {% for artist in artists %}
            <tr>
                <td><a href="{% url 'musicbox:kind_detail' 'artist' artist.id %}">{{ artist.name }}</a></td>
                <td>{{ artist.song_set.all.count }}곡</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'musicbox/pagination.html' %}
{% endblock %}