{% extends 'musicbox/base.html' %}

{% block title %}
Music Box Home
{% endblock %}

{% block content %}
<div class="jumbotron py-2 mt-3">
    <h1 class="display-4"><a href="{% url 'musicbox:kind_list' 'song' %}">Songs</a></h1>
    <p class="lead">{{ song_count }} songs</p>
    <hr>
</div>
<div class="jumbotron py-2">
    <h1 class="display-4"><a href="{% url 'musicbox:kind_list' 'artist' %}">Artists</a></h1>
    <p class="lead">{{ artist_count }} artists</p>
    <hr>
</div>
<div class="jumbotron py-2">
    <h1 class="display-4"><a href="{% url 'musicbox:kind_list' 'genre' %}">Genres</a></h1>
    <p class="lead">{{ genre_count }} genres</p>
    <hr>
</div>
<div class="jumbotron py-2">
    <h1 class="display-4"><a href="{% url 'musicbox:kind_list' 'playlist' %}">Playlists</a></h1>
    <p class="lead">{{ playlist_count }} playlists</p>
    <hr>
</div>

{% endblock %}