{% extends 'musicbox/base.html' %}

{% block title %}
Song List
{% endblock %}

{% block content %}

{% for song in songs %}
<div class="card col-5 d-inline-flex m-1">
    <div class="card-body">
        <h5 class="card-title"><a href="{% url 'musicbox:kind_detail' 'song' song.id %}">{{ song.title }}</a></h5>
        <hr>
        <p class="card-text text-right">
            {% for artist in song.artist.all %}
            <a href="#">{{ artist }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br />
            <a href="#">{{ song.genre }}</a><br />
        </p>
        <div style="position:relative;padding-top:56.25%;">
        <iframe id="{{song.id}}" frameborder="0" allowfullscreen="1"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player"
            src="https://www.youtube.com/embed/{{ song.link }}" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
    </div>
</div>
{% endfor %}
<hr>
{% include 'musicbox/pagination.html' %}

{% endblock %}